/* Apply whitesmoke background to the whole app */
body, html, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: whitesmoke !important;
  /* overflow-x: hidden; */
}

a {
  color: inherit !important;
  text-decoration: none !important;
   font-weight: 400 !important; 
}


/* Optional: make sure text is easy to read */
* {
  box-sizing: border-box;
}

